In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import os

## Task1: Analyze the T-Test problem and use the Python Pandas to read from the CSV into a Data Frame

- Опишите проблему
- Создайте нулевую гипотезу

- Используйте Python Pandas для чтения CSV в DataFrame.
- Обратите внимание на размеры DataFrame.
- Распечатайте фрейм данных.

In [18]:
df = pd.read_csv('scores.csv')
print (df.shape)

(1000, 8)

In [19]:
print (df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

### Task2: Obtain two Numpy arrays from the DataFrame column to represent Female student scores and Male Student scores.

- Извлеките данные о баллах по математике для студенток, используя условие.
- Проверьте тип массива.
- Распечатайте массив.
- Извлеките результаты по математике мужчин в другой массив.

In [22]:
fm = df.loc[df['gender'] == 'female', 'math score'].values
mm = df.loc[df['gender'] == 'male', 'math score'].values

In [ ]:
print (type(fm))

In [12]:
print (fm)

[ 72  69  90  71  88  38  65  50  69  18  54  65  69  67  62  69  63  56
  74  50  75  58  53  50  55  66  57  71  33  82   0  69  59  60  39  58
  41  61  62  47  73  76  71  58  73  65  79  63  58  65  85  58  87  52
  70  77  51  99  75  78  51  55  79  88  87  51  75  59  76  59  42  22
  68  59  70  66  61  75  81  96  58  68  67  79  63  43  81  46  71  52
  97  46  50  65  77  66  62  69  45  78  67  65  57  74  58  42  83  34
  56  55  52  45  72  88  67  64  80  56  58  65  71  60  62  64  70  65
  64  44  99  63  69  88  71  47  65  85  59  65  73  70  37  67  65  67
  74  53  49  73  68  59  77  56  67  75  71  43  41  82  41  83  61  24
  35  61  69  72  77  52  63  46  59  61  42  80  58  52  27  44  73  45
  82  59  80  85  71  80  38  38  67  64  57  62  77  65  50  85  59  49
  88  54  63  82  52  70  51  82  57  47  59  62  61  47  67  78  59  73
  67  64 100  65  53  79 100  71  77  84  26  77  83  63  68  59  90  71
  55  52  49  60  65  64  83  81  54  54  59  66  74  94  95  40  82  86
  54  77  76  74  66  66  67  91  36  29  62  68  47  79  66  51  81  82
  64  92  62  40  32  55  53  74  63  63  92  61  53  50  74  81  48  53
  81  77  63  73  69  65  55  44  54  48  74  92  56  69  65  54  29  76
  85  40  61  58  58  65  82  60  37  35  61  44  66  75  67  80  76  74
  72  74  65  59  64  50  69  68  85  65  73  62  43  55  65  50  63  77
  66  69  65  69  50  73  70  67  29  94  49  73  66  77  49  79  75  59
  57  79  57  63  59  42  80  98  60  76  96  76  62  74  65  73  68  87
  53  53  37  81  59  50  77  84  52  53  48  62  74  58  68  52  62  49
  66  35  72  46  77  76  52  32  72  19  52  48  60  42  57  70  52  87
  82  73  64  41  54  72  45  60  77  85  78  71  48  56  65  69  61  74
  77  60  75  66  39  23  40  59  61  87  97  65  53  81  71  70  43  59
  64  71  64  51  62  93  69  86  85  50  59  32  63  65  73  34  93  67
  79  67  69  52  47  46  68  44  57  35  54  65  48  57  78  58  54  49
  57  75  74  62  92  45  56  48 100  65  62  68  75  89  53  49  54  64
  91   8  78  74  40  44  67  65  55  62  88  59  68  77]

In [24]:
print (mm.size, ' , ', fm.size)

482  ,  518

## Task3: Compute the variance of the two arrays using the standard deviation from each array.

- Вычислите среднее значение каждого массива образцов с помощью Numpy.
- Реализуйте эту функцию.
- Вычислите объединенную дисперсию, поскольку размеры популяции различны
- Проанализируйте формулу и преобразуйте ее в код python.

In [32]:
def computeTandP (arr1, arr2):
    t, p = 0, 0
    mean1, mean2 = np.mean(arr1), np.mean(arr2)
    
    s1, s2 = np.std(arr1), np.std(arr2)
    
    var = (((arr1.size - 1)*(s1**2)) + ((arr2.size - 1)*(s2**2))) / (arr1.size + arr2.size -2)
    return t, p

## Task4: Add the Numpy code to compute the pooled Variance and standard deviation and determine the T-value and P-value of the data sets.

- Используйте формулу для вычисления объединенного стандартного отклонения.
- Используйте объединенное стандартное отклонение для вычисления стандартной ошибки.
- Используйте разницу между средним значением и стандартной ошибкой для вычисления значения t
- Вычисление степеней свободы
- Вычислите значение P с помощью статистики

доделываем нашу функцию (итоговая со всеми заданиями)

In [33]:
def computeTandP (arr1, arr2):
    t, p = 0, 0
    mean1, mean2 = np.mean(arr1), np.mean(arr2)
    
    s1, s2 = np.std(arr1), np.std(arr2)
    
    var = (((arr1.size - 1)*(s1**2)) + ((arr2.size - 1)*(s2**2))) / (arr1.size + arr2.size -2)
    
    sp = np.sqrt(var) #standart deviation
    
    ste = sp*np.sqrt(1/arr1.size + 1/arr2.size)
    t = (mean1 - mean2) / ste
    df = arr1.size + arr2.size - 2
    p = 2*(1-stats.t.cdf(t, df))
    
    return t, p

In [34]:
t, p = computeTandP(mm, fm)

In [35]:
print ('T value:', t)

T value: 5.388622466450282

In [36]:
print ('P value:', p)

P value: 8.859047007092613e-08

## Task5: Add the function to remove outliers from each set of data, then re-compute the T-value and P-value.

- Создайте функцию для программного удаления выбросов.
- Обычно не следует изменять исходные данные до начала расследования.
- Вычислите верхний и нижний квартили.
- Удалите их из массива, используя вычисленный межквартильный диапазон (IRQ).

In [37]:
def removeOutliers(arr):
    q3, q1 = np.percentile(arr, [75, 25])
    iqr = q3 - q1
    lower = q1 -1.5 * iqr
    upper = q3 + 1.5 * iqr
    print ('lower outlier limit =', lower)
    print ('upper outlier limit =', upper)
    #remove elements below lower and above upper
    #by keeping between lower and upper, inclusive
    
    arr = arr[(arr >= lower) & (arr <= upper)]
    return arr

In [38]:
fm = removeOutliers(fm)
mm = removeOutliers(mm)

lower outlier limit = 24.0
upper outlier limit = 104.0
lower outlier limit = 29.0
upper outlier limit = 109.0

In [39]:
t, p = computeTandP(mm, fm)

In [40]:
print ('T value:', t)

T value: 5.142350675301441

In [41]:
print ('P value:', p)

P value: 3.269459232235761e-07